<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="HOME_LOG" value="logs/mammy_dao.log" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
				</pattern>
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			daily rollover
			<fileNamePattern>logs/mammy_dao.%d{yyyy-MM-dd}.gz</fileNamePattern>

			keep 30 days' worth of history capped at 3GB total size
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="vn.com.ids" level="debug" />
	<logger name="org.springframework" level="warn"/>
	<logger name="org.hibernate.SQL" level="debug"/>

	<root level="info">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root>
 
</configuration> -->